.space-y-1
  %label.block.w-full{for: :seller} Seller
  = form.text_field :seller, class: "block w-full rounded-lg border p-2"

.space-y-1
  %label.block.w-full{for: :description} Description
  = form.text_field :description, class: "block w-full rounded-lg border p-2"

.space-y-1
  %label.block.w-full{for: :total_amount} Amount
  = form.number_field :total_amount, step: 0.01, class: "block w-full rounded-lg border p-2"

.space-y-1
  %label.block.w-full{for: :date} Date
  = form.date_field :date, class: "block w-full rounded-lg border p-2"

.space-y-1
  %label.block.w-full{for: :category} Category
  = form.select :category, [["Deduction", "deduction"], ["Income", "income"]], { include_blank: false }, class: "block w-full rounded-lg border p-2"

.space-y-1
  %label.block.w-full{for: :note} Note
  = form.text_area :note, class: "block w-full rounded-lg border p-2"

.space-y-1
  - if receipt.image.representable?
    %div.container.border.mt-5.border-gray-300.rounded-lg.p-2
      = link_to rails_blob_path(receipt.image, disposition: "attachment") do
        = image_tag receipt.image, title: "Download receipt"
