= form.text_field :seller, placeholder: "Seller", class: "block w-full rounded-lg border p-2"
= form.text_field :description, placeholder: "Description", class: "block w-full rounded-lg border p-2"
= form.number_field :total_amount, step: 0.01, placeholder: "Total Amount", class: "block w-full rounded-lg border p-2"
= form.date_field :date, placeholder: "Date", class: "block w-full rounded-lg border p-2"
= form.text_area :note, placeholder: "Note", class: "block w-full rounded-lg border p-2"
- if receipt.image.representable?
  %div.container.border.mt-5.border-gray-300.rounded-lg.p-2
    = link_to rails_blob_path(receipt.image, disposition: "attachment") do
      = image_tag receipt.image, title: "Download receipt"
