.space-y-4
  .flex.items-center.justify-between
    %h1.text-2xl.font-bold Add Receipt
  .space-y-4
    .container.mx-auto.border.p-4.rounded-lg
      = render "new_receipt_form"
    .container.mx-auto.border.p-4.rounded-lg
      %h1.text-2xl.font-bold.mb-4 Your receipts

      = render "shared/components/search", path: receipts_path

      .flex.justify-end.my-4
        - if params[:start_date].present? && params[:end_date].present?
          = link_to receipts_path(format: :csv, search: params[:search], start_date: params[:start_date], end_date: params[:end_date]), class: "bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-lg flex items-center justify-center gap-2" do
            = heroicon "arrow-down-tray"
            Export

      - @receipts.each do |receipt|
        = render "receipt_list_item", receipt: receipt

      - if @pagy.pages > 1
        .flex.justify-center.space-x-2.my-4
          = pagy_nav(@pagy).html_safe
